*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f0f0f0;
  
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}
.emergency{
    width: 100%;
    height: 100%;
    border: 5px solid black;
    padding: 100px;
}
.keypadBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 300px;
    height: 500px;
    padding: 2rem;
    border: 10px solid rgb(61, 29, 6);
    background-color: rgb(134, 130, 130);
    border-radius: 10px;
}

.btn{
    width: 50px;
    height: 50px;
    background-color: black;
color: white;
font-weight: bold;
font-size: 1rem;
border: none;
border-radius: 10px;
}