.home {
  width: 100%;
  padding: 10px;
}
.home button {
  width: 200px;
  height: 50px;
  margin: 20px;
  border-radius: 20px;
  border: navajowhite;
  background-color: rgba(16, 114, 218, 0.755);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
.home button:hover {
  background-color: rgb(217, 75, 75);
  color: black;
  border-radius: 10px;
}
